* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

canvas {
    border: 1px solid black;
}

#gl-canvas {
    position: absolute;
    top: 90px;
    left:  25%;
    z-index: -1;
}

select {
    width: 240px;
}

.scroll-list {
    height: 8em;
    overflow-y: auto;
}

.canvas-control > ul > li:hover {
    background-color: rgb(30, 110, 255);
}
.canvas-control > ul > li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.canvas-control > ul > li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.canvas-control > ul > li {
    cursor: pointer;
}
.active {
    background-color: rgb(110, 180, 255);
}
.canvas-control > ul {
    color: white;
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1.8em;
    list-style-type: none;
    background: rgb(72, 85, 91);
    border-radius: 10px;
}

.canvas-control input {
    color: black;
}

#chooseColorButton {
    /*border-radius:12px;*/
    width: 256px;
    height: 25px;
    background-color: black;
    border: 1px solid white;
}

#layout {
    padding: 0;
}

.canvas-control {
    margin-top: 1em;
    border: solid 2px white;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
}

.canvas-control > legend {
    padding: 0.3em 1em;
    border: 2px solid white;
    border-radius: 0.4em;
    font-size: 1.2em;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
/*.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}*/
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
/*.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}*/

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 1em 2em;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}

/* input range CSS */
input[type=range] {
  margin: auto;
  outline: none;
  padding: 0;
  width: 50%;
  height: 4px;
  background-color: #EEE;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA4N2FmNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA4N2FmNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #087af5), color-stop(100%, #087af5));
  background-image: -moz-linear-gradient(#087af5, #087af5);
  background-image: -webkit-linear-gradient(#087af5, #087af5);
  background-image: linear-gradient(#087af5, #087af5);
  background-size: 0 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  /* track */
  /* thumb */
}
input[type=range]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}
input[type=range]::-moz-range-track {
  box-shadow: none;
  border: none;
  background: transparent;
}
input[type=range]::-moz-focus-outer {
  border: 0;
}
input[type=range]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border: 1px solid gray; /* */
  background: white;
  border-radius: 100%;
  box-shadow: 0 0 1px 0px #d4d4d4;
  -webkit-appearance: none;
}
input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 100%;
  box-shadow: 0 0 1px 0px #d4d4d4;
  border: 1px solid gray; /* */
}
